body {
    background-color: #404552;
    font-family: "Roboto", sans-serif;
}

nav, main {
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    color: #d3dae3;
}

main {
    padding: 0 0.5rem;
}

nav {
    background-color: #383c4a;
    display: flex;
}

.nav-button {
    flex-grow: 1;
    padding: 0.5rem;
    text-decoration: none;
    color: #d3dae3;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #282a31;
}

.nav-button:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 2.5px #000;
}

#hero-image {
    display: block;
    width: 40%;
    margin: auto;
}


h1 {
    font-family: "Montserrat", serif;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-family: "Montserrat", serif;
    text-align: center;
    font-weight: normal;
}

p {
    text-indent: 4ch;
    text-align: justify;
}

fieldset {
    width: 45%;
    margin: 2% auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    text-align: center;
    border: 1px solid;
    padding: 0.5rem;
}

input[type="text"], textarea {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 50%;
    margin-left: 0.5rem;
    background-color: #383c4a;
}

.form-field {
    display: flex;
    justify-content: right;
    align-items: start;
    margin: 0.5rem;
    width: 90%;
}

button[type="submit"] {
    color: #d3dae3;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #282a31;
    width: 20%;
    padding: 0.5rem;
    margin: 0.5rem;
}

button[type="submit"]:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 2.5px #000;
}

#resource-list {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#resource-list li {
    display: inline;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: #383c4a;
    border-radius: 2px;
    border: 1px solid #282a31;
}

#resource-list li:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 2.5px #000;
}

#resource-list a:link {
    color: #5294e2;
}

#resource-list a:visited {
    color: #b952e2;
}

#gallery {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    text-align: center;
}

#gallery img {
    width: 100%;
    margin: auto;
}

#gallery label {
    display: block;
    margin: 0.5rem;
}

#gallery a {
    margin: 0.25rem;
    background-color: #383c4a;
    border-radius: 2px;
    border: 1px solid #282a31;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gallery a:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 2.5px #000;
}

#gallery a:link {
    color: #5294e2;
}

#gallery a:visited {
    color: #b952e2;
}
